/**********start fonts****************/
@font-face {
  font-family: MyriadPro-Semibold;
  src: url("../fonts/MyriadPro-Semibold.woff");
}
@font-face {
  font-family: GE_SS_Two_Medium;
  src: url("../fonts/GE_SS_Two_Medium.otf");
}
@font-face {
  font-family: GE_SS_Two_Light;
  src: url("../fonts/GE_SS_Two_Light.otf");
}
@font-face {
  font-family: GE_SS_Two_Bold;
  src: url("../fonts/GE_SS_Two_Bold.otf");
}
@font-face {
  font-family: "MyriadPro-Light";
  src: url("../fonts/MyriadPro-Light.woff");
}
@font-face {
  font-family: "CircularStdBold";
  src: url("assets/fonts/circular-font/CircularStd-Bold.ttf");
}
@font-face {
  font-family: "CircularStdBook";
  src: url("assets/fonts/circular-font/CircularStd-Book.ttf");
}
@font-face {
  font-family: "CircularStdMeduim";
  src: url("assets/fonts/circular-font/CircularStd-Medium.ttf");
}
/**********End fonts****************/
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.5;
  color: #444;
}

/******************* start login Page*******************/
.container-fluid.login-page {
  height: 100vh;
}
.container-fluid.login-page .row {
  height: 100vh;
}
.container-fluid.login-page .col-7 {
  background-color: #fbfbff;
  position: relative;
  padding: 0;
  flex: 0 0 53.333333%;
  max-width: 53.333333%;
}
.container-fluid.login-page .col-5 {
  padding: 0;
  flex: 0 0 46.666667%;
  max-width: 46.666667%;
}
.container-fluid.login-page .loginBg {
  background: url(../images/login.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid.login-page .login-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbff;
  margin-top: 120px;
  flex-direction: column;
}
.container-fluid.login-page .login-form-section .copyright {
  padding-top: 158px;
  font-family: "MyriadPro-Light";
  font-weight: bold;
}
.container-fluid.login-page .login-form-section .login-form {
  min-width: 420px;
  margin: 0 auto;
}
.container-fluid.login-page .login-form-section .login-form .logo-img img {
  width: 137px;
  height: 87px;
}
.container-fluid.login-page .login-form-section .login-form h3 {
  font-family: MyriadPro-Semibold;
  text-align: center;
  font-size: 20px;
}
.container-fluid.login-page .login-form-section .login-form .form-group {
  position: relative;
  margin-bottom: 0;
}
.container-fluid.login-page .login-form-section .login-form .form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  color: #3c3c3c;
  pointer-events: none;
  transition: 0.3s;
  font-family: "MyriadPro-Light";
  font-weight: bold;
  text-transform: capitalize;
}
.container-fluid.login-page .login-form-section .login-form .form-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  color: #3c3c3c;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.16);
  outline: none;
  background: transparent;
  text-align: left;
}
.container-fluid.login-page .login-form-section .login-form .form-group input:focus ~ label, .container-fluid.login-page .login-form-section .login-form .form-group input:valid ~ label, .container-fluid.login-page .login-form-section .login-form .form-group input:not([value=""]) ~ label {
  top: -18px;
  left: 0;
  color: #3c3c3c;
  font-size: 16px;
}
.container-fluid.login-page .login-form-section .login-form input[type=submit] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #57cb0a;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  width: 30%;
}
.container-fluid.login-page .login-form-section .login-form input[type=submit]:hover {
  background-color: #57cb0a;
}
.container-fluid.login-page .login-form-section .login-form .forget-pass span {
  font-family: MyriadPro-Semibold;
  color: #f46f22;
}

/******************* End login Page*********************/
/**********sys-mang page****************/
/**********Header****************/
.container-page {
  min-height: 100%;
  position: relative;
  padding-bottom: 50px;
}
.container-page .container-fluid {
  width: 90%;
}
.container-page label {
  text-transform: capitalize;
}
.container-page header {
  background: url(../images/pgHeader.png) no-repeat #333743;
  background-position: right;
  transform: scaleX(-1);
  position: relative;
  margin-bottom: 37px;
}
.container-page header::after {
  content: "";
  background-color: #f46f22;
  height: 5px;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -5px;
  z-index: -1;
}

/*******start footer*******/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #333743;
  color: #fff;
  text-align: center;
}

/*******End footer*******/
.navbar {
  transform: scaleX(-1);
  padding: 0.5rem 0;
}
.navbar > * {
  color: #fff;
}
.navbar .nav-link {
  color: #fff;
  padding: 4px 8px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.navbar .nav-link .icon-list {
  background: url(../images/list_alt.png) no-repeat;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
}
.navbar .nav-link .icon-home {
  background: url(../images/icon_home.png) no-repeat;
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  background-size: 70%;
  background-position: center;
}
.navbar .nav-link span {
  margin-right: 7px;
}
.navbar .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.navbar .nav-item.active a {
  background-color: #f46f22;
  border-radius: 9px;
}
.navbar a.nav-link.dropdown-toggle {
  padding-right: 0;
  padding-left: 15px;
  margin-right: 7px;
  font-size: 15px;
}
.navbar a.nav-link.dropdown-toggle::after {
  position: absolute;
  bottom: 14px;
  right: -12px;
}
.navbar .dropdown-menu {
  left: -27px;
}
.navbar .navbar-brand {
  margin-right: 55px;
}
.navbar li {
  margin-right: 30px;
}

.nav-item.dropdown {
  display: flex;
  align-items: center;
}
.nav-item.dropdown .user-icon {
  background: url(../images/user.png) no-repeat;
  width: 39px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  background-size: 70%;
  background-position: center;
  background-color: #ffffff;
  border-radius: 50px;
}

.nav-tabs {
  border-bottom: 0;
  align-items: flex-end;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
  margin-right: 3px;
  position: relative;
}

/**********tab-section************/
.tab-section {
  margin-bottom: 36px;
}
.tab-section .tab-content {
  border: solid 1px #c2c8de;
  background-color: #fcfcff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-top-left-radius: 0;
  padding: 36px 26px 44px 36px;
}
.tab-section .tab-content .passport-number-tab .col-md-4 {
  margin-right: 52px;
}
.tab-section .tab-content .form-inline {
  font-family: "MyriadPro-Light";
}
.tab-section .tab-content button.btn-primary {
  background-color: #f46f22;
  border-color: #f47429;
  text-transform: capitalize;
  padding: 6px 45px;
  border-radius: 9px;
  font-family: "MyriadPro-Light";
  font-size: 15px;
  margin-left: 10px;
}
.tab-section .tab-content button.btn-primary:focus {
  background-color: #f46f22;
  outline: 0;
  border-color: #f47429;
  box-shadow: none !important;
}
.tab-section .tab-content form {
  margin-bottom: 64px;
}
.tab-section .nav-tabs .nav-item .nav-link {
  border: solid 1px #c2c8de;
  background-color: #e8ebf5;
  color: #333743;
  border: solid 1px #c2c8de;
  font-family: MyriadPro-Semibold;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 27px;
}
.tab-section a.nav-link.active:after {
  content: "";
  background: #fcfcff;
  width: 98%;
  height: 11px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -8px;
}
.tab-section .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.tab-section .form-group label {
  white-space: nowrap;
  margin-right: 10px;
  text-transform: capitalize;
}
.tab-section .user-data .data-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.tab-section .user-data .details label {
  color: #333743;
  font-family: MyriadPro-Semibold;
}
.tab-section .user-data label {
  width: 15%;
  text-align: center;
  text-transform: capitalize;
  color: #9ea6be;
}

.tab-section .nav-tabs .nav-item.show .nav-link,
.tab-section .nav-tabs .nav-link.active {
  color: #f46f22;
  background-color: #fcfcff;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 15px;
}

.tab-section .user-data .data-head,
.tab-section .user-data .details {
  display: flex;
  justify-content: space-between;
}

.data-user-details .icon,
.getLicense-section .icon,
.courses-and-test .icon {
  transform: scaleX(-1);
  display: inline-block;
  background-color: #d9deec;
  border-radius: 50px;
  padding: 22px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 17px;
}
.data-user-details .icon.private,
.getLicense-section .icon.private,
.courses-and-test .icon.private {
  background-image: url(../images/private.png);
  width: 43px;
  height: 16px;
  background-size: 78%;
}
.data-user-details .icon.tractor,
.getLicense-section .icon.tractor,
.courses-and-test .icon.tractor {
  background-image: url(../images/tractor.png);
  width: 43px;
  height: 16px;
  background-size: 65%;
}
.data-user-details .icon.motor,
.getLicense-section .icon.motor,
.courses-and-test .icon.motor {
  background-image: url(../images/tractor.png);
  width: 43px;
  height: 16px;
  background-size: 65%;
}
.data-user-details .icon.second-level,
.getLicense-section .icon.second-level,
.courses-and-test .icon.second-level {
  background-image: url(../images/second-level.png);
  width: 38px;
  height: 22px;
  background-size: 65%;
}
.data-user-details h3,
.getLicense-section h3,
.courses-and-test h3 {
  font-family: MyriadPro-Semibold;
  font-size: 17px;
  text-transform: capitalize;
  color: #6a6e7b;
}
.data-user-details .table thead th,
.getLicense-section .table thead th,
.courses-and-test .table thead th {
  border: 0;
  font-family: "MyriadPro-Light";
  text-transform: capitalize;
  vertical-align: middle;
  padding-left: 30px;
  color: #6a6e7b;
  padding: 17px;
}
.data-user-details .table thead th:first-child,
.getLicense-section .table thead th:first-child,
.courses-and-test .table thead th:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.data-user-details .table thead th:last-child,
.getLicense-section .table thead th:last-child,
.courses-and-test .table thead th:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 10px;
}
.data-user-details .table tbody tr td,
.getLicense-section .table tbody tr td,
.courses-and-test .table tbody tr td {
  font-family: MyriadPro-Semibold;
  text-transform: capitalize;
  vertical-align: middle;
  padding-left: 30px;
  padding: 17px;
}
.data-user-details .table tbody tr td.status,
.getLicense-section .table tbody tr td.status,
.courses-and-test .table tbody tr td.status {
  display: flex;
  justify-content: center;
}
.data-user-details .table tbody tr td.status span,
.getLicense-section .table tbody tr td.status span,
.courses-and-test .table tbody tr td.status span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 15px;
}
.data-user-details .table tbody tr td.status div,
.getLicense-section .table tbody tr td.status div,
.courses-and-test .table tbody tr td.status div {
  width: 12%;
  text-align: center;
  margin-right: 16px;
}
.data-user-details .table tbody tr td.status label,
.getLicense-section .table tbody tr td.status label,
.courses-and-test .table tbody tr td.status label {
  display: inline-block;
  width: 11%;
}
.data-user-details .table tbody tr td.status.new span,
.getLicense-section .table tbody tr td.status.new span,
.courses-and-test .table tbody tr td.status.new span {
  background-color: #016edb;
}
.data-user-details .table tbody tr td.status.expired span,
.getLicense-section .table tbody tr td.status.expired span,
.courses-and-test .table tbody tr td.status.expired span {
  background-color: #db0101;
}
.data-user-details .table tbody tr td.status.inProgress span,
.getLicense-section .table tbody tr td.status.inProgress span,
.courses-and-test .table tbody tr td.status.inProgress span {
  background-color: #dbb701;
}
.data-user-details .table tbody tr td button,
.getLicense-section .table tbody tr td button,
.courses-and-test .table tbody tr td button {
  width: 120px;
  padding: 6px;
  background-color: #57cb0a;
  border: 0;
  border-radius: 9px;
  color: #fff;
  text-transform: capitalize;
  outline: none;
}
.data-user-details .table tbody tr td button.booking,
.getLicense-section .table tbody tr td button.booking,
.courses-and-test .table tbody tr td button.booking {
  background-color: #c7cbd6;
}
.data-user-details .table tbody tr td.duration .duration-date,
.getLicense-section .table tbody tr td.duration .duration-date,
.courses-and-test .table tbody tr td.duration .duration-date {
  font-size: 14px;
  font-family: MyriadPro-Semibold;
}
.data-user-details .table tbody tr td.duration .duration-date span,
.getLicense-section .table tbody tr td.duration .duration-date span,
.courses-and-test .table tbody tr td.duration .duration-date span {
  color: #f46f22;
}
.data-user-details .table tbody tr td.duration .date,
.getLicense-section .table tbody tr td.duration .date,
.courses-and-test .table tbody tr td.duration .date {
  font-size: 13px;
  font-family: "MyriadPro-Light";
}
.data-user-details .table tbody tr td.time span,
.getLicense-section .table tbody tr td.time span,
.courses-and-test .table tbody tr td.time span {
  color: #f46f22;
  margin-right: 10px;
}
.data-user-details .table thead th:not(:first-child),
.getLicense-section .table thead th:not(:first-child),
.courses-and-test .table thead th:not(:first-child) {
  text-align: center;
}
.data-user-details .table thead th:nth-child(2),
.getLicense-section .table thead th:nth-child(2),
.courses-and-test .table thead th:nth-child(2) {
  width: 13%;
  text-align: center;
}
.data-user-details .table tbody tr td:not(:first-child),
.getLicense-section .table tbody tr td:not(:first-child),
.courses-and-test .table tbody tr td:not(:first-child) {
  text-align: center;
}

.data-user-details .table tbody tr:first-child td,
.data-user-details .table tbody tr:first-child th,
.courses-and-test .table tbody tr:first-child td,
.courses-and-test .table tbody tr:first-child th {
  border-top: 0;
}

.print-section {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
.print-section .arrow {
  background: url(../images/arrow_forward.png);
  width: 26px;
  height: auto;
  display: block;
  background-color: #677594;
  padding: 33px 31px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  background-size: 50%;
  margin-right: 5px;
  transform: scaleX(-1);
}
.print-section .user-data {
  background: #333743;
  width: 100%;
  border-radius: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 38px 10px 54px;
  align-items: center;
}
.print-section .user-data .left {
  width: 40%;
  justify-content: space-between;
  display: flex;
  align-items: baseline;
}
.print-section .user-data .left .status {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  margin-right: 10px;
}
.print-section .user-data .left .status.new {
  background-color: #016edb;
}
.print-section .user-data .left .status.expired {
  background-color: #db0101;
}
.print-section .user-data .left .status.inProgress {
  background-color: #dbb701;
}
.print-section .user-data .printing {
  border-radius: 9px;
  border: solid 1px #dce2f2;
  padding: 5px 19px;
  text-transform: capitalize;
  white-space: nowrap;
}
.print-section .user-data .printing .print-icon {
  background-image: url(../images/print.png);
  width: 25px;
  height: 21px;
  display: inline-block;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-left: 10px;
  background-color: transparent;
}

.main-content {
  margin: 0;
  border: solid 1px #707070;
  padding: 15px;
}
.main-content .course-user-info .head {
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  font-family: MyriadPro-Semibold;
  text-transform: capitalize;
}
.main-content .scanning {
  align-items: center;
  margin-bottom: 5px;
}
.main-content .scanning img {
  margin-right: 10px;
}
.main-content .scanning p {
  font-size: 10px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.3;
}
.main-content .request-head {
  display: flex;
  justify-content: space-between;
  background-color: #333743;
  padding: 12px;
  color: #fff;
  align-items: center;
}
.main-content .request-head div {
  width: 33.333%;
}
.main-content .request-head div:nth-child(2) {
  font-size: 12px;
}
.main-content .request-head span {
  font-size: 10px;
}
.main-content .request-head .request-number {
  border: 1px solid #fff;
  padding: 6px 28px;
  font-size: 13px;
}
.main-content .request-head img {
  width: 57px;
}
.main-content .data-user {
  margin-bottom: 40px;
}
.main-content .course-user-info {
  margin-bottom: 80px;
}
.main-content .data-user,
.main-content .course-user-info {
  font-size: 12px;
}
.main-content .data-user div,
.main-content .course-user-info div {
  margin-bottom: 10px;
}
.main-content .data-user div span:first-child,
.main-content .course-user-info div span:first-child {
  margin-right: 10px;
  color: #9ea6be;
  text-transform: capitalize;
  font-family: "MyriadPro-Light";
}
.main-content .data-user div span:nth-child(2),
.main-content .course-user-info div span:nth-child(2) {
  font-family: MyriadPro-Semibold;
}

.courses-and-test table .number {
  background-color: #333743;
  display: inline-block;
  color: #fff;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  margin-right: 10px;
}
.courses-and-test table thead th:not(:first-child) {
  text-align: center;
}
.courses-and-test table thead th:nth-child(2) {
  width: 16%;
  text-align: center;
}
.courses-and-test table tbody tr td:first-child {
  display: flex;
  align-items: center;
}
.courses-and-test table tbody tr td:first-child span {
  white-space: nowrap;
}
.courses-and-test table tbody tr td:not(:first-child) {
  text-align: center;
}

.status td:last-child button,
.status td:last-child span {
  display: none;
}

.status.not-started .start {
  display: inline-block;
}

.status.inProgress .in-progress {
  display: inline-block;
}

.status.completed.success .complete-sussful {
  display: inline-block;
}

.status.completed.fail .un-complete {
  display: inline-block;
}

.status td:last-child a,
.status td:last-child span {
  display: none;
}

.status.not-started .start {
  display: inline-block;
}
.status.inProgress .in-progress {
  display: inline-block;
}
.status.completed td:not(:last-child) {
  color: #a8bcb4;
}
.status.completed.success .complete-sussful {
  display: inline-block;
}
.status.completed.success .number {
  background-image: url(../images/sucess.png);
  display: inline-block;
  background-size: 100% 100%;
  font-size: 0;
  vertical-align: middle;
}
.status.completed.fail .un-complete {
  display: inline-block;
}

.printing {
  display: inline-block;
  padding: 3px 19px;
  border: 1px solid #333743;
  border-radius: 9px;
  vertical-align: middle;
  white-space: nowrap;
}
.printing .print-icon {
  background-image: url(../images/colored-print.png);
  width: 26px;
  height: 25px;
  display: inline-block;
  background-size: 90%;
  vertical-align: middle;
  margin-left: 10px;
  background-repeat: no-repeat;
}

/********************************popups***********************/
.popup {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
  width: 100%;
  background-color: rgba(6, 6, 6, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 500ms all;
}
.popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: 1s all;
}
.popup .popup-container {
  transform: translateY(-50%);
  transition: 500ms all;
  position: relative;
  width: 640px;
  margin: 2em auto;
  top: 2%;
  padding: 27px 28px 30px 28px;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.popup .popup-container .header {
  color: #333743;
  font-size: 15px;
  margin-bottom: 10px;
}
.popup .popup-container .main-content {
  position: relative;
}
.popup .popup-container .main-content::after {
  content: "";
  width: 97%;
  background: red;
  height: 7px;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 6px;
  position: absolute;
  background-color: #333743;
}
.popup .popup-container .main-content .request-head div:first-child {
  text-align: left;
}
.popup .popup-container .main-content .request-head div:last-child {
  text-align: right;
}
.popup .popup-container .popup-close {
  position: absolute;
  top: 16px;
  font-size: 0;
  right: 20px;
  width: 30px;
  height: 30px;
}
.popup .popup-container .popup-close img {
  width: 25px;
  height: 25px;
}
.popup .popup-container .popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.popup .popup-container .popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.popup .popup-container .footer {
  margin: 27px 0 0px 0;
}
.popup .popup-container .footer a {
  padding: 10px 35px;
  border-radius: 9px;
  text-transform: capitalize;
}
.popup .popup-container .footer a.print {
  background-color: #57cb0a;
  color: #fff;
  margin-right: 15px;
}
.popup .popup-container .footer a.cancel {
  background-color: #e2e2e2;
  color: #777777;
}

.is-visible .popup-container {
  transform: translateY(0);
  transition: 500ms all;
}

.popup-container .popup-close::before,
.popup-container .popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
  opacity: 0;
}

.popup-container .popup-close:hover:before,
.popup-container .popup-close:hover:after {
  background-color: #35a785;
  transition: 300ms all;
  opacity: 0;
}

/***************print section**********************/
.print-section .user-data .printing {
  font-family: GE_SS_Two_Light;
}

.popup.licenceStepsPrinting .courses-and-test table td.duration .duration-date {
  font-size: 11px;
}
.popup.licenceStepsPrinting .courses-and-test table .number {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.popup.licenceStepsPrinting .courses-and-test table th {
  padding: 10px 10px;
}
.popup.licenceStepsPrinting .courses-and-test table th:nth-child(2) {
  width: auto;
}
.popup.licenceStepsPrinting .courses-and-test table td,
.popup.licenceStepsPrinting .courses-and-test table th {
  font-size: 11px;
}

/*******************media query********************/
@media (min-width: 1200px) and (max-width: 1693px) {
  .data-user-details .table thead th,
.getLicense-section .table thead th,
.courses-and-test .table thead th {
    padding-left: 27px;
  }

  .print-section .user-data .left {
    width: 50%;
  }

  .tab-content .form-row .tab-section .tab-content .form-row > [class*=col-]:last-child {
    margin: 0;
  }

  .tab-section .tab-content .form-row > [class*=col-] {
    margin-right: 0;
  }
}
/*arabic direction */
[dir=rtl] {
  /*****login-page****/
  /***************header****************/
  /************tabs***********************/
  /************data-user-details***********************/
  /************.print-section************** */
}
[dir=rtl] .container-fluid.login-page .login-form {
  text-align: right;
}
[dir=rtl] .container-fluid.login-page .login-form h3 {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .container-fluid.login-page .login-form .form-group label {
  right: 0;
  left: auto;
  font-family: GE_SS_Two_Light;
  font-weight: inherit;
}
[dir=rtl] .container-fluid.login-page .login-form .forget-pass span {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] .container-fluid.login-page .login-form input[type=submit] {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] .container-fluid.login-page .copyright {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] header {
  transform: inherit;
}
[dir=rtl] header .navbar {
  transform: inherit;
}
[dir=rtl] header .navbar .navbar-brand {
  margin-left: 55px;
  margin-right: 0;
}
[dir=rtl] header .navbar .nav-item {
  margin-left: 0;
}
[dir=rtl] header .navbar .nav-item.dropdown {
  flex-direction: row-reverse;
}
[dir=rtl] header .navbar .nav-link {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] header .navbar .nav-link.dropdown-toggle {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] header .navbar .nav-link.dropdown-toggle.language {
  padding-left: 0;
}
[dir=rtl] header .navbar .nav-link span {
  margin-left: 7px;
  margin-right: auto;
}
[dir=rtl] header .navbar .navbar-nav.mr-auto {
  margin: 0 !important;
}
[dir=rtl] header .navbar .collapse.navbar-collapse {
  justify-content: space-between;
}
[dir=rtl] .tab-section .form-group label {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] .tab-section .nav.nav-tabs {
  padding-right: 0;
}
[dir=rtl] .tab-section .nav.nav-tabs .nav-item {
  margin-left: 3px;
  margin-right: 0;
}
[dir=rtl] .tab-section .nav.nav-tabs .nav-item .nav-link {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .tab-section .tab-content {
  border-top-right-radius: 0;
  border-top-left-radius: 5px;
}
[dir=rtl] .tab-section .tab-content .passport-number-tab .col-md-4 {
  margin-left: 52px;
  margin-right: 0;
}
[dir=rtl] .tab-section .tab-content button.btn-primary {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] .tab-section .tab-content .user-data .data-head {
  margin-bottom: 17px;
}
[dir=rtl] .tab-section .tab-content .user-data .data-head label {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] .tab-section .tab-content .user-data .details label {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .tab-section .tab-content .form-group label {
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .tab-section .tab-content .form-row .col-md-3 {
  text-align: right;
  margin-left: 0;
}
[dir=rtl] .data-user-details table th:first-child,
[dir=rtl] .getLicense-section table th:first-child,
[dir=rtl] .courses-and-test table th:first-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
[dir=rtl] .data-user-details table th:last-child,
[dir=rtl] .getLicense-section table th:last-child,
[dir=rtl] .courses-and-test table th:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
[dir=rtl] .data-user-details .table thead th,
[dir=rtl] .getLicense-section .table thead th,
[dir=rtl] .courses-and-test .table thead th {
  padding-right: 30px;
  font-family: GE_SS_Two_Light;
}
[dir=rtl] .table th,
[dir=rtl] .table td {
  text-align: right;
}
[dir=rtl] .data-user-details .table tbody tr td,
[dir=rtl] .getLicense-section .table tbody tr td,
[dir=rtl] .courses-and-test .table tbody tr td {
  padding-right: 30px;
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .icon {
  transform: inherit;
  margin-left: 17px;
  margin-right: 0;
}
[dir=rtl] .data-user-details h3,
[dir=rtl] .getLicense-section h3,
[dir=rtl] .courses-and-test h3 {
  text-align: right;
  font-family: GE_SS_Two_Bold;
}
[dir=rtl] .data-user-details table tbody tr td.status div {
  margin-left: 16px;
  margin-right: 0;
}
[dir=rtl] .print-section {
  font-family: GE_SS_Two_Bold;
}
[dir=rtl] .print-section .arrow {
  margin-left: 5px;
  margin-right: 0;
  transform: inherit;
}
[dir=rtl] .print-section .user-data .left .status.new {
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .courses-and-test .number {
  margin-left: 10px;
}
[dir=rtl] .courses-and-test table tbody tr td.time span {
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .courses-and-test table tbody tr td.duration .duration-date {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .courses-and-test table tbody tr td.duration .date {
  font-family: GE_SS_Two_Light;
}
[dir=rtl] .popup.licenceStepsPrinting .courses-and-test table .number {
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .popup .popup-container .header {
  text-align: right;
  font-family: GE_SS_Two_Bold;
  font-size: 12px;
}
[dir=rtl] .popup .popup-container .popup-close {
  left: 20px;
  right: auto;
}
[dir=rtl] .popup .popup-container .main-content .request-head {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .popup .popup-container .main-content .request-head div:first-child {
  text-align: right;
}
[dir=rtl] .popup .popup-container .main-content .request-head div:last-child {
  text-align: left;
}
[dir=rtl] .popup .popup-container .main-content .course-user-info,
[dir=rtl] .popup .popup-container .main-content .data-user {
  text-align: right;
}
[dir=rtl] .popup .popup-container .main-content .course-user-info .head,
[dir=rtl] .popup .popup-container .main-content .data-user .head {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .popup .popup-container .main-content .course-user-info div span:first-child,
[dir=rtl] .popup .popup-container .main-content .data-user div span:first-child {
  font-family: GE_SS_Two_Light;
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .popup .popup-container .main-content .course-user-info div span:last-child,
[dir=rtl] .popup .popup-container .main-content .data-user div span:last-child {
  font-family: GE_SS_Two_Medium;
}
[dir=rtl] .popup .popup-container .main-content .scanning img {
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .popup .popup-container .main-content .scanning p {
  font-family: GE_SS_Two_Medium;
  text-align: right;
}
[dir=rtl] .popup .popup-container .footer {
  text-align: right;
}
[dir=rtl] .popup .popup-container .footer a.print {
  margin-left: 15px;
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
