/**********start fonts****************/
@font-face {
	font-family: MyriadPro-Semibold;
	src: url("../fonts/MyriadPro-Semibold.woff");
}
@font-face {
	font-family: GE_SS_Two_Medium;
	src: url("../fonts/GE_SS_Two_Medium.otf");
}
@font-face {
	font-family: GE_SS_Two_Light;
	src: url("../fonts/GE_SS_Two_Light.otf");
}
@font-face {
	font-family: GE_SS_Two_Bold;
	src: url("../fonts/GE_SS_Two_Bold.otf");
}
@font-face {
	font-family: "MyriadPro-Light";
	src: url("../fonts/MyriadPro-Light.woff");
}
@font-face {
	font-family: "CircularStdBold";
	src: url("assets/fonts/circular-font/CircularStd-Bold.ttf");
}
@font-face {
	font-family: "CircularStdBook";
	src: url("assets/fonts/circular-font/CircularStd-Book.ttf");
}
@font-face {
	font-family: "CircularStdMeduim";
	src: url("assets/fonts/circular-font/CircularStd-Medium.ttf");
}
/**********End fonts****************/
html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	// font-size: 100%;
	// overflow-y: scroll;
	min-height: 100%;
}
body {
	font-size: 1em;
	line-height: 1.5;
	color: #444;
}

/******************* start login Page*******************/
.container-fluid {
	&.login-page {
		height: 100vh;
		.row {
			height: 100vh;
		}
		.col-7 {
			background-color: #fbfbff;
			position: relative;
			padding: 0;
			flex: 0 0 53.333333%;
            max-width: 53.333333%;
		}
		.col-5 {
			padding: 0;
			flex: 0 0 46.666667%;
			max-width: 46.666667%;
		}
		.loginBg {
			background: url(../images/login.jpg) no-repeat;
			background-size: cover;
			width: 100%;
			height: 100%;
		}
		.login-form-section {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fbfbff;
			margin-top: 120px;
			flex-direction: column;
			.copyright {
				padding-top: 158px;
				font-family: "MyriadPro-Light";
				font-weight: bold;
			}
			.login-form {
				min-width: 420px;
				margin: 0 auto;
				.logo-img {
					img {
						width: 137px;
						height: 87px;
					}
				}
				h3 {
					font-family: MyriadPro-Semibold;
					text-align: center;
					font-size: 20px;
				}
				.form-group {
					position: relative;
					margin-bottom: 0;
					label {
						position: absolute;
						top: 0;
						left: 0;
						padding: 10px 0;
						font-size: 1rem;
						color: #3c3c3c;
						pointer-events: none;
						transition: 0.3s;
						font-family: "MyriadPro-Light";
						font-weight: bold;
						text-transform: capitalize;
					}
					input {
						width: 100%;
						padding: 10px 0;
						font-size: 20px;
						color: #3c3c3c;
						letter-spacing: 1px;
						margin-bottom: 30px;
						border: none;
						border-bottom: 1.5px solid rgba(0, 0, 0, 0.16);
						outline: none;
						background: transparent;
						text-align: left;
						&:focus~label,
						&:valid~label,
						&:not([value=""])~label
						{
							top: -18px;
							left: 0;
							color: #3c3c3c;
							font-size: 16px;
						}
					}

				}
				input[type="submit"] {
					border: none;
					outline: none;
					color: #fff;
					background-color: #57cb0a;
					padding: 10px 20px;
					cursor: pointer;
					border-radius: 5px;
					font-size: 1rem;
					width: 30%;
					&:hover {
						background-color: #57cb0a;
					}

				}
				.forget-pass {
					span {
						font-family: MyriadPro-Semibold;
						color: #f46f22;
					}
				}
			}
		}
	}
}
// .login-form .form-group input:focus~label,
// .login-form .form-group input:valid~label,
// .login-form .form-group input:not([value=""])~label {
// 	top: -18px;
// 	left: 0;
// 	color: #3c3c3c;
// 	font-size: 16px;
// }
/******************* End login Page*********************/


/**********sys-mang page****************/
/**********Header****************/
.container-page {
	min-height: 100%;
	position: relative;
	padding-bottom: 50px;
	.container-fluid {
		width: 90%;
	}
	label {
		text-transform: capitalize;
	}
	header {
		background: url(../images/pgHeader.png) no-repeat #333743;
		background-position: right;
		transform: scaleX(-1);
		position: relative;
		margin-bottom: 37px;
		&::after {
			content: '';
			background-color: #f46f22;
			height: 5px;
			width: 100%;
			position: absolute;
			right: 0;
			left: 0;
			margin: auto;
			bottom: -5px;
			z-index: -1;
		}
	}
}
/*******start footer*******/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	background-color: #333743;
	color: #fff;
	text-align: center;
}
/*******End footer*******/
.navbar{
	transform: scaleX(-1);
	padding: .5rem 0;
	&>* {
		color: #fff;
	}
	.nav-link {
		color: #fff;
		padding: 4px 8px;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		.icon-list {
			background: url(../images/list_alt.png) no-repeat;
			width: 29px;
			height: 29px;
			display: inline-block;
			vertical-align: middle;
		}
		.icon-home {
			background: url(../images/icon_home.png) no-repeat;
			width: 29px;
			height: 29px;
			display: inline-block;
			vertical-align: middle;
			background-size: 70%;
			background-position: center;
		}
		span {
			margin-right: 7px;
		}
	}
	.navbar-nav {
		.nav-link {
			padding-right: 1.5rem;
			padding-left: 1.5rem;
		}
	}
	.nav-item {
		&.active {
			a {
				background-color: #f46f22;
				border-radius: 9px;
			}
		}
	}
	a {
		&.nav-link {
			&.dropdown-toggle {
				padding-right: 0;
				padding-left: 15px;
				margin-right: 7px;
				font-size: 15px;
				&::after {
					position: absolute;
					bottom: 14px;
					right: -12px;
				}
			}
		}
	}
	.dropdown-menu {
		left: -27px;
	}
	.navbar-brand {
		margin-right: 55px;
	}
	li {
		margin-right: 30px;
	}
}

.nav-item {
	&.dropdown {
		display: flex;
		align-items: center;
		.user-icon {
			background: url(../images/user.png) no-repeat;
			width: 39px;
			height: 39px;
			display: inline-block;
			vertical-align: middle;
			background-size: 70%;
			background-position: center;
			background-color: #ffffff;
			border-radius: 50px;
		}
	}
}

.nav-tabs {
	border-bottom: 0;
	align-items: flex-end;
	.nav-item {
		margin-bottom: -1px;
		margin-right: 3px;
		position: relative;
	}
}

/**********tab-section************/
.tab-section {
	margin-bottom: 36px;
	.tab-content {
		border: solid 1px #c2c8de;
		background-color: #fcfcff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		border-top-left-radius: 0;
		padding: 36px 26px 44px 36px;
		.passport-number-tab{
			.col-md-4{
				margin-right: 52px;
			}
		}
		.form-inline {
			font-family: "MyriadPro-Light";
		}
		button {
			&.btn-primary {
				background-color: #f46f22;
				border-color: #f47429;
				text-transform: capitalize;
				padding: 6px 45px;
				border-radius: 9px;
				font-family: "MyriadPro-Light";
				font-size: 15px;
				margin-left: 10px;
				&:focus {
					background-color: #f46f22;
					outline: 0;
					border-color: #f47429;
					box-shadow: none !important;
				}
			}
		}
		form {
			margin-bottom: 64px;
		}
	}
	.nav-tabs {
		.nav-item {
			.nav-link {
				border: solid 1px #c2c8de;
				background-color: #e8ebf5;
				color: #333743;
				border: solid 1px #c2c8de;
				font-family: MyriadPro-Semibold;
				text-transform: capitalize;
				font-size: 15px;
				padding: 10px 27px;
			}
		}
	}
	a {
		&.nav-link {
			&.active {
				&:after {
					content: '';
					background: #fcfcff;
					width: 98%;
					height: 11px;
					position: absolute;
					right: 0;
					left: 0;
					margin: auto;
					bottom: -8px;
				}
			}
		}
	}
	.form-group {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		label {
			white-space: nowrap;
			margin-right: 10px;
			text-transform: capitalize;
		}
	}
	.user-data {
		.data-head {
			border-bottom: 1px solid rgba(0, 0, 0, 0.25);
		}
		.details {
			label {
				color: #333743;
				font-family: MyriadPro-Semibold;
			}
		}
		label {
			width: 15%;
			text-align: center;
			text-transform: capitalize;
			color: #9ea6be;
			;
		}
	}
}
.tab-section .nav-tabs .nav-item.show .nav-link,
.tab-section .nav-tabs .nav-link.active {
	color: #f46f22;
	background-color: #fcfcff;
	border-color: #dee2e6 #dee2e6 #fff;
	border-bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 15px;
}
.tab-section .user-data .data-head,
.tab-section .user-data .details {
	display: flex;
	justify-content: space-between;
}
.data-user-details,
.getLicense-section,
.courses-and-test {
	.icon {
		transform: scaleX(-1);
		display: inline-block;
		background-color: #d9deec;
		border-radius: 50px;
		padding: 22px;
		background-repeat: no-repeat;
		background-position: center;
		vertical-align: middle;
		margin-right: 17px;
		&.private {
			background-image: url(../images/private.png);
			width: 43px;
			height: 16px;
			background-size: 78%;
		}
		&.tractor {
			background-image: url(../images/tractor.png);
			width: 43px;
			height: 16px;
			background-size: 65%;
		}
		&.motor {
			background-image: url(../images/tractor.png);
			width: 43px;
			height: 16px;
			background-size: 65%;
		}
		&.second-level {
			background-image: url(../images/second-level.png);
			width: 38px;
			height: 22px;
			background-size: 65%;
		}
	}
	h3 {
		font-family: MyriadPro-Semibold;
		font-size: 17px;
		text-transform: capitalize;
		color: #6a6e7b;
	}
	.table {
		thead {
			th {
				border: 0;
				font-family: "MyriadPro-Light";
				text-transform: capitalize;
				vertical-align: middle;
				padding-left: 30px;
				color: #6a6e7b;
				padding: 17px;
				&:first-child {
					border-top-left-radius: 16px;
					border-bottom-left-radius: 16px;
				}
				&:last-child {
					border-top-right-radius: 16px;
					border-bottom-right-radius: 10px;
				}
			}
		}
		tbody {
			tr {
				td {
					font-family: MyriadPro-Semibold;
					text-transform: capitalize;
					vertical-align: middle;
					padding-left: 30px;
					padding: 17px;
					&.status {
						display: flex;
						justify-content: center;
						span {
							display: inline-block;
							width: 12px;
							height: 12px;
							border-radius: 15px;
						}
						div {
							width: 12%;
							text-align: center;
							margin-right: 16px;
						}
						label {
							display: inline-block;
							width: 11%;
						}
						&.new {
							span {
								background-color: #016edb;
							}
						}
						&.expired {
							span {
								background-color: #db0101;
							}
						}
						&.inProgress {
							span {
								background-color: #dbb701;
							}
						}
					}
					button {
						width: 120px;
						padding: 6px;
						background-color: #57cb0a;
						border: 0;
						border-radius: 9px;
						color: #fff;
						text-transform: capitalize;
						outline: none;
						&.booking {
							background-color: #c7cbd6;
						}
					}
					&.duration {
						.duration-date {
							font-size: 14px;
							font-family: MyriadPro-Semibold;
							span {
								color: #f46f22;
							}
						}
						.date {
							font-size: 13px;
							font-family: "MyriadPro-Light";
						}
					}
					&.time {
						span {
							color: #f46f22;
							margin-right: 10px;
						}
					}
				}
			}
		}
		thead {
			th:not(:first-child) {
				text-align: center;
			}
			th:nth-child(2) {
				width: 13%;
				text-align: center;
			}
		}
		tbody {
			tr {
				td:not(:first-child) {
					text-align: center;
				}
			}
		}
	}
}
.data-user-details .table tbody tr:first-child td,
.data-user-details .table tbody tr:first-child th,
.courses-and-test .table tbody tr:first-child td,
.courses-and-test .table tbody tr:first-child th {
	border-top: 0;
}
.print-section {
	display: flex;
	margin-bottom: 25px;
	align-items: center;
	.arrow {
		background: url(../images/arrow_forward.png);
		width: 26px;
		height: auto;
		display: block;
		background-color: #677594;
		padding: 33px 31px;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 16px;
		background-size: 50%;
		margin-right: 5px;
		transform: scaleX(-1);
	}
	.user-data {
		background: #333743;
		width: 100%;
		border-radius: 16px;
		color: #fff;
		display: flex;
		justify-content: space-between;
		padding: 10px 38px 10px 54px;
		align-items: center;
		.left {
			width: 40%;
			justify-content: space-between;
			display: flex;
			align-items: baseline;
			.status {
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 15px;
				margin-right: 10px;
				&.new {
					background-color: #016edb;
				}
				&.expired {
					background-color: #db0101;
				}
				&.inProgress {
					background-color: #dbb701;
				}
			}
		}
		.printing {
			border-radius: 9px;
			border: solid 1px #dce2f2;
			padding: 5px 19px;
			text-transform: capitalize;
			white-space: nowrap;
			.print-icon {
				background-image: url(../images/print.png);
				width: 25px;
				height: 21px;
				display: inline-block;
				background-size: 100% 100%;
				vertical-align: middle;
				margin-left: 10px;
				background-color: transparent;
			}
		}
	}
}
.main-content {
	margin: 0;
	border: solid 1px #707070;
	padding: 15px;
	.course-user-info {
		.head {
			border-bottom: 1px solid #707070;
			padding-bottom: 10px;
			font-family: MyriadPro-Semibold;
			text-transform: capitalize;
		}
	}
	.scanning {
		align-items: center;
		margin-bottom: 5px;
		img {
			margin-right: 10px;
		}
		p {
			font-size: 10px;
			display: inline-block;
			margin-bottom: 0;
			line-height: 1.3;
		}
	}
	.request-head {
		display: flex;
		justify-content: space-between;
		background-color: #333743;
		padding: 12px;
		color: #fff;
		align-items: center;
		div {
			width: 33.333%;
			&:nth-child(2) {
				font-size: 12px;
			}
		}
		span {
			font-size: 10px;
		}
		.request-number {
			border: 1px solid #fff;
			padding: 6px 28px;
			font-size: 13px;
		}
		img {
			width: 57px;
		}
	}
	.data-user {
		margin-bottom: 40px;
	}
	.course-user-info {
		margin-bottom: 80px;
	}
	.data-user,
	.course-user-info {
		font-size: 12px;
		div {
			margin-bottom: 10px;
			span:first-child {
				margin-right: 10px;
				color: #9ea6be;
				text-transform: capitalize;
				font-family: "MyriadPro-Light";
			}
			span:nth-child(2) {
				font-family: MyriadPro-Semibold;
			}
		}
	}
}
.courses-and-test {
	table {
		.number {
			background-color: #333743;
			display: inline-block;
			color: #fff;
			border-radius: 50px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 32px;
			margin-right: 10px;
		}
		thead {
			th:not(:first-child) {
				text-align: center;
			}
			th:nth-child(2) {
				width: 16%;
				text-align: center;
			}
		}
		tbody {
			tr {
				td:first-child {
					// white-space: nowrap;
					display: flex;
					align-items: center;
					span {
						white-space: nowrap;
					}
				}
				td:not(:first-child) {
					text-align: center;
				}
			}
		}
	}
}
.status td:last-child button,
.status td:last-child span {
	display: none;
}
.status.not-started .start {
	display: inline-block;
}
.status.inProgress .in-progress {
	display: inline-block;
}
.status.completed.success .complete-sussful {
	display: inline-block;
}
.status.completed.fail .un-complete {
	display: inline-block;
}
.status td:last-child a,
.status td:last-child span {
	display: none;
}
.status {
	&.not-started {
		.start {
			display: inline-block;
		}
	}
	&.inProgress {
		.in-progress {
			display: inline-block;
		}
	}
	&.completed {
		td:not(:last-child) {
			color: #a8bcb4;
			;
		}
		&.success {
			.complete-sussful {
				display: inline-block;
			}
			.number {
				background-image: url(../images/sucess.png);
				display: inline-block;
				background-size: 100% 100%;
				font-size: 0;
				vertical-align: middle;
			}
		}
		&.fail {
			.un-complete {
				display: inline-block;
			}
		}
	}
}
.printing {
	display: inline-block;
	padding: 3px 19px;
	border: 1px solid #333743;
	border-radius: 9px;
	vertical-align: middle;
	white-space: nowrap;
	.print-icon {
		background-image: url(../images/colored-print.png);
		width: 26px;
		height: 25px;
		display: inline-block;
		background-size: 90%;
		vertical-align: middle;
		margin-left: 10px;
		background-repeat: no-repeat;
	}
}
/********************************popups***********************/
.popup {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 1000;
	width: 100%;
	background-color: rgba(6, 6, 6, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: 500ms all;
	&.is-visible {
		opacity: 1;
		visibility: visible;
		transition: 1s all;
	}
	.popup-container {
		transform: translateY(-50%);
		transition: 500ms all;
		position: relative;
		width: 640px;
		margin: 2em auto;
		top: 2%;
		padding: 27px 28px 30px 28px;
		border-radius: 15px;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
		background-color: #ffffff;
		.header {
			color: #333743;
			font-size: 15px;
			margin-bottom: 10px;
		}
		.main-content {
			position: relative;
			&::after {
				content: "";
				width: 97%;
				background: red;
				height: 7px;
				right: 0;
				left: 0;
				margin: auto;
				bottom: 6px;
				position: absolute;
				background-color: #333743;
			}
			.request-head {
				div:first-child {
					text-align: left;
				}
				div:last-child {
					text-align: right;
				}
			}
		}
		.popup-close {
			position: absolute;
			top: 16px;
			font-size: 0;
			right: 20px;
			width: 30px;
			height: 30px;
			img {
				width: 25px;
				height: 25px;
			}
			&::before {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				left: 8px;
			}
			&::after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				right: 8px;
			}
		}
		.footer {
			margin: 27px 0 0px 0;
			a {
				padding: 10px 35px;
				border-radius: 9px;
				text-transform: capitalize;
				&.print {
					background-color: #57cb0a;
					color: #fff;
					margin-right: 15px;
				}
				&.cancel {
					background-color: #e2e2e2;
					color: #777777;
				}
			}
		}
	}
}
.is-visible {
	.popup-container {
		transform: translateY(0);
		transition: 500ms all;
	}
}
.popup-container .popup-close::before,
.popup-container .popup-close::after {
	content: '';
	position: absolute;
	top: 12px;
	width: 14px;
	height: 3px;
	background-color: #8f9cb5;
	opacity: 0;
}
.popup-container .popup-close:hover:before,
.popup-container .popup-close:hover:after {
	background-color: #35a785;
	transition: 300ms all;
	opacity: 0;
}
/***************print section**********************/
.print-section {
	.user-data {
		.printing {
			font-family: GE_SS_Two_Light;
		}
	}
}
.popup.licenceStepsPrinting {
	.courses-and-test {
		table {
			td.duration {
				.duration-date {
					font-size: 11px;
				}
			}
			.number {
				width: 20px;
				height: 20px;
				line-height: 20px;
			}
			th {
				padding: 10px 10px;
			}
			th:nth-child(2) {
				width: auto;
			}
			td,
			th {
				font-size: 11px;
			}
		}
	}
}
/*******************media query********************/
@media (min-width: 1200px) and (max-width: 1693px) {
	.data-user-details .table thead th,
	.getLicense-section .table thead th,
	.courses-and-test .table thead th {
		padding-left: 27px;
	}
	.print-section .user-data .left {
		width: 50%;
	}
	.tab-content {
		.form-row {
			.tab-section .tab-content .form-row>[class*=col-]:last-child {
				margin: 0;
			}
		}
	}
	.tab-section .tab-content .form-row>[class*=col-] {
		margin-right: 0;
	}
}
/*arabic direction */
[dir="rtl"] {
	/*****login-page****/
	.container-fluid {
		&.login-page{
			.login-form {
				text-align: right;
				h3{
					font-family: GE_SS_Two_Medium;
				}
				.form-group {
					label {
						right: 0;
						left: auto;
						font-family: GE_SS_Two_Light;
						font-weight: inherit;
					}
				}
				.forget-pass{
					span{
						font-family: GE_SS_Two_Light;
					}
				}
				input[type="submit"]{
					font-family: GE_SS_Two_Light;
				}

			}
			.copyright{
				font-family: GE_SS_Two_Light;
			}
		}
	}

	/***************header****************/
	header {
		transform: inherit;
		.navbar {
			.navbar-brand {
				margin-left: 55px;
				margin-right: 0;
			}
			.nav-item {
				margin-left: 0;
				&.dropdown {
					flex-direction: row-reverse;
				}
			}
			.nav-link {
				font-family: GE_SS_Two_Light;
				&.dropdown-toggle {
					font-family: GE_SS_Two_Medium;
					&.language {
						padding-left: 0;
					}
				}
				span {
					margin-left: 7px;
					margin-right: auto;
				}
			}
			transform: inherit;
			.navbar-nav.mr-auto {
				margin: 0 !important;
			}
			.collapse.navbar-collapse {
				justify-content: space-between;
			}
		}
	}
	/************tabs***********************/
	.tab-section {
		.form-group {
			label {
				font-family: GE_SS_Two_Light;
			}
		}
		.nav.nav-tabs {
			padding-right: 0;
			.nav-item {
				margin-left: 3px;
				margin-right: 0;
				.nav-link {
					font-family: GE_SS_Two_Medium;
				}
			}
		}
		.tab-content {
			border-top-right-radius: 0;
			border-top-left-radius: 5px;
			.passport-number-tab{
				.col-md-4{
					margin-left: 52px;
					margin-right: 0;
				}
			}
			button.btn-primary {
				font-family: GE_SS_Two_Light;
			}
			.user-data {
				.data-head {
					margin-bottom: 17px;
					label {
						font-family: GE_SS_Two_Light;
					}
				}
				.details {
					label {
						font-family: GE_SS_Two_Medium;
					}
				}
			}
			.form-group {
				label {
					margin-left: 10px;
					margin-right: 0;
				}
			}
			.form-row {
				.col-md-3 {
					text-align: right;
					margin-left: 0;
				}
			}
		}
	}
	/************data-user-details***********************/
	.data-user-details,
	.getLicense-section,
	.courses-and-test {
		table {
			th {
				&:first-child {
					border-top-right-radius: 16px;
					border-bottom-right-radius: 16px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
				&:last-child {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					border-top-left-radius: 16px;
					border-bottom-left-radius: 16px;
				}
			}
		}
	}
	.data-user-details .table thead th,
	.getLicense-section .table thead th,
	.courses-and-test .table thead th {
		padding-right: 30px;
		font-family: GE_SS_Two_Light;
	}
	.table th,
	.table td {
		text-align: right;
	}
	.data-user-details .table tbody tr td,
	.getLicense-section .table tbody tr td,
	.courses-and-test .table tbody tr td {
		padding-right: 30px;
		font-family: GE_SS_Two_Medium;
	}
	.icon {
		transform: inherit;
		margin-left: 17px;
		margin-right: 0;
	}
	.data-user-details h3,
	.getLicense-section h3,
	.courses-and-test h3 {
		text-align: right;
		font-family: GE_SS_Two_Bold;
	}
	.data-user-details {
		table {
			tbody {
				tr {
					td {
						&.status {
							div {
								margin-left: 16px;
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
	/************.print-section************** */
	.print-section {
		font-family: GE_SS_Two_Bold;
		.arrow {
			margin-left: 5px;
			margin-right: 0;
			transform: inherit;
		}
		.user-data {
			.left {
				.status {
					&.new {
						margin-left: 10px;
						margin-right: 0;
					}
				}
			}
		}
	}
	.courses-and-test {
		.number {
			margin-left: 10px;
		}
		table {
			tbody{
				tr{
					td {
						&.time {
							span {
								margin-left: 10px;
								margin-right: 0;
							}
						}
						&.duration{
							.duration-date{
								font-family: GE_SS_Two_Medium;
							}
							.date{
								font-family: GE_SS_Two_Light;
							}
						}
		
						
					}
				}
			}

		}
	}
	.popup {
		&.licenceStepsPrinting {
			.courses-and-test {
				table {
					.number {
						margin-left: 10px;
						margin-right: 0;
					}
				}
			}
		}
		.popup-container {
			.header {
				text-align: right;
				font-family: GE_SS_Two_Bold;
				font-size: 12px;
			}
			.popup-close {
				left: 20px;
				right: auto;
			}
			.main-content {
				.request-head {
					font-family: GE_SS_Two_Medium;
					div:first-child {
						text-align: right;
					}
					div:last-child {
						text-align: left;
					}
				}
				.course-user-info,
				.data-user {
					.head {
						font-family: GE_SS_Two_Medium;
					}
					text-align: right;
					div {
						span:first-child {
							font-family: GE_SS_Two_Light;
							margin-left: 10px;
							margin-right: 0;
						}
						span:last-child {
							font-family: GE_SS_Two_Medium;
						}
					}
				}
				.scanning {
					img {
						margin-left: 10px;
						margin-right: 0;
					}
					p {
						font-family: GE_SS_Two_Medium;
						text-align: right;
					}
				}
			}
			.footer {
				text-align: right;
				a {
					&.print {
						margin-left: 15px;
						margin-right: 0;
					}
				}
			}
		}
	}
}