
@font-face {
    font-family: 'GEDinarOne-Medium';
    src: url('GEDinarOne-Medium.eot');
    src: url('GEDinarOne-Medium.eot?#iefix') format('embedded-opentype'),
        url('GEDinarOne-Medium.woff2') format('woff2'),
        url('GEDinarOne-Medium.woff') format('woff'),
        url('GEDinarOne-Medium.svg#GEDinarOne-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'GEDinarOne-Light';
    src: url('GEDinarOne-Light.eot');
    src: url('GEDinarOne-Light.eot?#iefix') format('embedded-opentype'),
        url('GEDinarOne-Light.woff2') format('woff2'),
        url('GEDinarOne-Light.woff') format('woff'),
        url('GEDinarOne-Light.svg#GEDinarOne-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('MyriadPro-Semibold.eot');
    src: url('MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Semibold.woff2') format('woff2'),
        url('MyriadPro-Semibold.woff') format('woff'),
        url('MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('MyriadPro-Bold.eot');
    src: url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Bold.woff2') format('woff2'),
        url('MyriadPro-Bold.woff') format('woff'),
        url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff'),
        url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'MyriadPro-Light';
    src: url('MyriadPro-Light.eot');
    src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Light.woff2') format('woff2'),
        url('MyriadPro-Light.woff') format('woff'),
        url('MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

